name: helm
version: "3.10.2"
check: ${binary} version --short | cut -d+ -f1 | tr -d v
tags:
- type/cli
- kubernetes
- templating
- package
- management
- lang/go
homepage: https://github.com/helm/helm
description: The Kubernetes Package Manager
renovate:
  datasource: github-releases
  package: helm/helm
  extractVersion: ^v(?<version>.+?)$