name: docker-compose
version: "2.15.1"
binary: ${target}/libexec/docker/cli-plugins/docker-compose
check: ${binary} compose version --short
runtime_dependencies:
- docker
- docker-compose-switch
platforms:
- linux/amd64
- linux/arm64
flags:
- not-docker-compose-v1
tags:
- org/docker
- standard/docker
- category/default
- container/compose
- type/cli
- type/plugin
- lang/go
homepage: https://github.com/docker/compose
description: Define and run multi-container applications with Docker (v2)
renovate:
  datasource: github-releases
  package: docker/compose
  extractVersion: ^v(?<version>.+?)$