name: docker-compose-v1
version: "1.29.2"
binary: docker-compose
check: ${binary} version --short
platforms:
- linux/amd64
flags:
- docker-compose-v1
tags:
- org/docker
- standard/docker
- container/compose
- type/cli
- lang/python
homepage: https://github.com/docker/compose
description: Define and run multi-container applications with Docker (v1)
renovate:
  datasource: github-releases
  package: docker/compose
  extractVersion: regex:^(?<major>1?)\.(?<minor>\d+?)\.(?<patch>\d+?)$