# yaml-language-server: $schema=https://docker-setup.dille.io/schema.yaml
$schema: https://docker-setup.dille.io/schema.yaml
name: docker
version: "24.0.2"
binary: dockerd
check: ${binary} --version | cut -d, -f1 | cut -d' ' -f3
runtime_dependencies:
- fuse-overlayfs
- docker-manpages
platforms:
- linux/amd64
- linux/arm64
conflicts_with:
- docker-stable
tags:
- org/docker
- standard/docker
- standard/oci
- container/runtime
- container/build
- category/default
- type/cli
- type/daemon
- lang/go
homepage: https://www.docker.com/
description: The Docker CLI
messages:
  internals: |
    Binaries (except docker) are installed into ${prefix}${target}/libexec/docker/bin
    Systemd units and init scripts are modified to perfer binaries from this directory
    The BuildKit builder is enabled by default
    The containerd image store is enabled by default
renovate:
  datasource: github-tags
  package: moby/moby
  extractVersion: ^v(?<version>.+?)$
  priority: high