name: docker
version: 20.10.21
binary: dockerd
check: ${binary} --version | cut -d, -f1 | cut -d' ' -f3
dependencies:
- fuse-overlayfs
- docker-manpages
tags:
- org/docker
- standard/docker
- standard/oci
- container/runtime
- container/build
- category/default
- type/cli
- type/daemon
- lang/go
homepage: https://www.docker.com/
description: The Docker CLI
renovate:
  datasource: github-tags
  package: moby/moby
  extractVersion: ^v(?<version>.+?)$