name: Build and push

on:
  push:
    branches:
    - "main"
    paths:
    - "@base/**"
  schedule:
  - cron: "0 7 * * *"

jobs:

  test:
    name: Build base image
    runs-on: ubuntu-22.04
    steps:

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry as ${{ secrets.BOT_USERNAME }}
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: nicholasdille
          password: ${{ secrets.PACKAGES_TOKEN }}

      - name: Build and push
        env:
          DOCKER_BUILDKIT: 1
        run: |
          make base
