name: Test-Linux

on:
  pull_request:
    types:
      - opened
      - synchronize
      #- labeled
      #- reopened
    paths:
      - docker-setup
      - env/**
      - tools/**
      - .github/workflows/test-linux.yml
      - .github/workflows/release.yml

jobs:

  test:
    name: Test
    runs-on: ubuntu-20.04
    steps:

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry as ${{ secrets.BOT_USERNAME }}
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ secrets.BOT_USERNAME }}
          password: ${{ secrets.BOT_PACKAGES_TOKEN }}

      - name: Test
        env:
          DOCKER_BUILDKIT: 1
          IS_PR: ${{ github.event_name == 'pull_request' }}
          PR: ${{ github.event.pull_request.number }}
        run: |
          set -o errexit
          if ${IS_PR}; then
              echo "This is PR ${PR}"
              TOOLS="$(
                  curl https://api.github.com/repos/${GITHUB_REPOSITORY}/pulls/${PR}/files \
                      --silent \
                      --fail \
                      --header "Accept: application/vnd.github.v3+json" \
                      --header 'Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
                  | jq --raw-output '.[].filename' \
                  | grep -E '^tools/[^/]+/' \
                  | cut -d/ -f2 \
                  | uniq \
                  | xargs echo
              )"
              echo "TOOLS=${TOOLS}"
          fi
          if test -n "${TOOLS}"; then
              for TOOL in ${TOOLS}; do
                  echo "Building tool ${TOOL}--deep"
                  GIT_BRANCH=test make ${TOOL}--deep
              done
              GIT_BRANCH=test make metadata.json
              docker_setup_version=test \
              docker_setup_cache="${HOME}/.cache/docker-setup" \
                  ./docker-setup --tools=$(echo "${TOOLS}" | tr ' ' ,) build bar

          else
              GIT_BRANCH=test make
          fi

      - name: Store logs
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: logs.zip
          path: "**/build.log"
