name: Test-Linux

on:
  push:
    tags:
      - "v*"
    branches:
      - "renovate/*"
  pull_request:
    branches:
      - "!renovate/*"
    types:
      - opened
      - synchronize
      - labeled
      - reopened
    paths:
      - docker-setup.sh
      - tools.yaml
      - env/**
      - Dockerfile
      - docker/*
      - .github/workflows/test-linux.yml

jobs:

  check:
    name: Checks
    runs-on: ubuntu-20.04
    outputs:
      has_release: ${{ steps.check.outputs.has_release }}
      has_tag: ${{ steps.tag.outputs.has_tag }}
    steps:

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: '0'

      - name: Check release
        id: check
        run: |
          has_release=false

          tags="$(git tag --points-at HEAD)"
          echo "Got tags: ${tags}."
          if test "$(echo "${tags}" | wc -l)" -gt 0; then

              for tag in ${tags}; do
                  echo "Checking tag ${tag} for release"
                  if curl -sfo /dev/null "https://api.github.com/repos/${GITHUB_REPOSITORY}/releases/tags/${tag}"; then
                      echo "Found release for current commit/tag, can skip tests"
                      has_release=true
                      break
                  fi
              done
          fi

          echo "has_release=${has_release}"
          echo "::set-output name=has_release::${has_release}"

      - name: Check magic tag
        id: tag
        run: |
          has_tag=false

          tags="$(git tag --points-at HEAD)"
          echo "Got tags: ${tags}."
          if echo "${tags}" | grep -q "^skip-tests$"; then
              has_tag=true
          fi

          echo "has_tag=${has_tag}"
          echo "::set-output name=has_tag::${has_tag}"

  test:
    name: Tests
    needs:
    - check
    if: needs.check.outputs.has_release != 'true' && needs.check.outputs.has_tag != 'true'
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        distro:
          - alpine-3.15
          #- amazonlinux-2022
          #- archlinux
          #- clearlinux
          - centos-7
          #- centos-8
          - debian-11
          - fedora-35
          #- opensuse-leap-15
          #- opensuse-tumbleweed
          #- rockylinux-8
          - ubuntu-20.04
          - ubuntu-21.04
          - ubuntu-22.04
        arch:
          - amd64
          #- arm64
    steps:

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Test
        env:
          DOCKER_BUILDKIT: 1
          TERM: xterm
          SKIP_DOCS: ${{ github.event_name == 'pull_request' }}
        run: |
          make tools.json; \
          docker build \
              --platform linux/${{ matrix.arch }} \
              --file env/${{ matrix.distro }}/Dockerfile \
              --tag test \
              .; \
          mkdir -p "${PWD}/log"; \
          docker run \
              --platform linux/${{ matrix.arch }} \
              --interactive \
              --rm \
              --privileged \
              --env TERM \
              --env Europe/Berlin \
              --env SKIP_DOCS \
              --volume "${PWD}/log:/var/log" \
              test bash run.sh

      - name: Store logs
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: logs-${{ matrix.distro }}.zip
          path: log/**
