name: Test-Windows

on:
  push:
    tags:
      - "v*"
  pull_request:
    types:
      - opened
      - synchronize
      - labeled
      - reopened
    paths:
      - docker-setup.ps1
      - .github/workflows/test-windows.yml

jobs:

  test:
    name: Tests
    runs-on: windows-2019
    steps:

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Test
        run: |
          .\docker-setup.ps1
